##  Import the code in this directory

In [1]:
import pandas as pd
from sim_data import sim_prefs
from pref_metrics import pref_metrics

## Generate the Data

In [2]:
num_seekers = 5
num_jobs = 5

seekers = [str(i) for i in range(1,num_seekers + 1)]
jobs = [str(i) for i in range(1,num_jobs + 1)]

seeker_prefs = sim_prefs(decider=seekers, slate=jobs)
owner_prefs = sim_prefs(decider=jobs, slate=seekers)

## These are the preferences of the seekers (columns) and jobs (rows)

In [3]:
seeker_prefs

   1  2  3  4  5
1  1  1  3  1  1
2  4  2  1  3  5
3  3  4  5  2  2
4  2  3  2  5  4
5  5  5  4  4  3

## From the seeker preferences we can infer metrics about the jobs and the similarities of the seekers

In [4]:
metrics_jobs, sim_seekers = pref_metrics(seeker_prefs)

In [5]:
metrics_jobs

   Competitiveness  Generalism  Specialization
1        13.671875         0.8               1
2        15.000000         2.5               1
3        20.618557         1.7               2
4        20.618557         1.7               2
5        82.031250         0.7               3

In [6]:
sim_seekers

        1       2       3       4       5
1  1.0000  0.8500  0.5125  0.7750  0.8125
2  0.8500  1.0000  0.7625  0.8125  0.6625
3  0.5125  0.7625  1.0000  0.3625  0.1625
4  0.7750  0.8125  0.3625  1.0000  0.9250
5  0.8125  0.6625  0.1625  0.9250  1.0000

## From the seeker preferences we can infer metrics about the jobs and the similarities of the seekers

In [7]:
metrics_seekers, sim_jobs = pref_metrics(owner_prefs)

In [8]:
metrics_seekers

   Competitiveness  Generalism  Specialization
1        18.750000         2.0               1
2       281.250000         0.2               1
3        25.914634         2.3               1
4        23.972603         1.7               1
5        33.333333         3.0               1

In [9]:
sim_jobs

        1       2       3       4       5
1  1.0000  0.7750  0.5500  0.1625  0.6875
2  0.7750  1.0000  0.5750  0.3875  0.9000
3  0.5500  0.5750  1.0000  0.4000  0.3125
4  0.1625  0.3875  0.4000  1.0000  0.3375
5  0.6875  0.9000  0.3125  0.3375  1.0000