##  Import the code in this directory

In [1]:
import pandas as pd
from sim_data import sim_navy
from pref_metrics import pref_metrics
from opt import opt

## Generate the Navy Data

In [2]:
O_df, A_df, S_df, C_df = sim_navy(n_sailors=10, n_jobs=10, couple_ratio=0.2)

## These are the preferences of the Navy Job Owners

In [3]:
O_df

,CHINA LAKE NAVAL AIR WEAPONS STATION,CORONADO NAVAL AMPHIBIOUS BASE,EL CENTRO NAVAL AIR FACILITY,LEMOORE NAS,MONTEREY NAVAL POSTGRADUATE SCHOOL,NORTH ISLAND NAS,FLEET ANTISUBMARINE WARFARE TRAINING CENTER,POINT MUGU NAVAL AIR STATION,PORT HUENEME NAVAL CONSTRUCTION BATTALION CENTER,SAN DIEGO NAVAL MEDICAL CENTER
1,8,4,2,7,6,10,1,1,2,2
2,10,8,9,1,1,8,5,10,7,9
3,9,7,5,8,8,4,8,8,9,1
4,1,3,8,5,4,7,2,7,8,8
5,6,9,6,3,7,9,4,2,3,5
6,4,10,4,4,10,6,10,9,1,7
7,5,6,10,9,2,3,6,6,4,10
8,2,5,1,10,3,5,9,3,6,6
9,3,2,3,6,5,1,7,5,10,3
10,7,1,7,2,9,2,3,4,5,4

## These are the preference of the Sailors

In [4]:
S_df

,1,2,3,4,5,6,7,8,9,10
CHINA LAKE NAVAL AIR WEAPONS STATION,5,2,10,5,9,7,4,6,3,6
CORONADO NAVAL AMPHIBIOUS BASE,3,1,4,2,7,3,8,10,7,5
EL CENTRO NAVAL AIR FACILITY,4,7,3,8,10,5,10,1,6,10
LEMOORE NAS,1,5,2,9,6,1,2,7,10,8
MONTEREY NAVAL POSTGRADUATE SCHOOL,2,3,9,1,2,2,7,9,8,1
NORTH ISLAND NAS,7,8,6,3,1,10,1,4,2,7
FLEET ANTISUBMARINE WARFARE TRAINING CENTER,9,4,7,6,8,6,5,5,4,3
POINT MUGU NAVAL AIR STATION,6,10,5,10,4,4,3,3,5,4
PORT HUENEME NAVAL CONSTRUCTION BATTALION CENTER,10,6,8,4,3,9,9,2,1,9
SAN DIEGO NAVAL MEDICAL CENTER,8,9,1,7,5,8,6,8,9,2

## These are the number of positions available at each Navy Job

In [5]:
A_df

                                                  Num_Positions
Job
CHINA LAKE NAVAL AIR WEAPONS STATION                          1
CORONADO NAVAL AMPHIBIOUS BASE                                1
EL CENTRO NAVAL AIR FACILITY                                  1
LEMOORE NAS                                                   1
MONTEREY NAVAL POSTGRADUATE SCHOOL                            1
NORTH ISLAND NAS                                              1
FLEET ANTISUBMARINE WARFARE TRAINING CENTER                   1
POINT MUGU NAVAL AIR STATION                                  1
PORT HUENEME NAVAL CONSTRUCTION BATTALION CENTER              1
SAN DIEGO NAVAL MEDICAL CENTER                                1

## This is the table regarding the couple status of sailors

In [6]:
C_df

           Partner  Partner_id Seeker
Seeker_id
1                5           5      1
2                0           0      2
3                0           0      3
4                0           0      4
5                1           1      5
6                0           0      6
7                0           0      7
8                0           0      8
9                0           0      9
10               0           0     10

## From the sailors preferences we can infer metrics about the jobs and the similarities of the sailors

In [7]:
metrics_jobs, sim_sailors = pref_metrics(S_df)

In [8]:
metrics_jobs

,Competitiveness,Generalism,Specialization
CHINA LAKE NAVAL AIR WEAPONS STATION,0.9262,6.233333,2
CORONADO NAVAL AMPHIBIOUS BASE,0.9323,8.444444,1
EL CENTRO NAVAL AIR FACILITY,0.9229,10.044444,1
FLEET ANTISUBMARINE WARFARE TRAINING CENTER,0.9254,3.566667,3
LEMOORE NAS,0.9331,11.655556,1
MONTEREY NAVAL POSTGRADUATE SCHOOL,0.9385,11.600000,1
NORTH ISLAND NAS,0.9340,9.877778,1
POINT MUGU NAVAL AIR STATION,0.9282,6.711111,3
PORT HUENEME NAVAL CONSTRUCTION BATTALION CENTER,0.9254,11.211111,1
SAN DIEGO NAVAL MEDICAL CENTER,0.9234,8.011111,1

In [9]:
sim_sailors

,1,2,3,4,5,6,7,8,9,10
1,1.000000,0.498765,0.266667,0.203704,-0.035802,0.903704,0.138272,-0.325926,-0.560494,0.062963
2,0.498765,1.000000,-0.300000,0.617284,-0.235802,0.430864,-0.161728,-0.450617,0.003704,0.203704
3,0.266667,-0.300000,1.000000,-0.406173,-0.140741,0.277778,0.113580,-0.011111,-0.537037,0.002469
4,0.203704,0.617284,-0.406173,1.000000,0.512346,0.070370,-0.141975,-0.322222,0.248148,0.344444
5,-0.035802,-0.235802,-0.140741,0.512346,1.000000,-0.067901,0.370370,0.050617,0.325926,0.271605
6,0.903704,0.430864,0.277778,0.070370,-0.067901,1.000000,0.075309,-0.312346,-0.619753,0.245679
7,0.138272,-0.161728,0.113580,-0.141975,0.370370,0.075309,1.000000,-0.029630,0.160494,0.024691
8,-0.325926,-0.450617,-0.011111,-0.322222,0.050617,-0.312346,-0.029630,1.000000,0.619753,-0.507407
9,-0.560494,0.003704,-0.537037,0.248148,0.325926,-0.619753,0.160494,0.619753,1.000000,-0.309877
10,0.062963,0.203704,0.002469,0.344444,0.271605,0.245679,0.024691,-0.507407,-0.309877,1.000000

## From the Navy job owners preferences we can infer metrics about the sailors and the similarities of the jobs

In [10]:
metrics_sailors, sim_jobs = pref_metrics(O_df)

In [11]:
metrics_sailors

    Competitiveness  Generalism  Specialization
1            0.9389   10.455556               1
10           0.9365    6.711111               1
2            0.9214   11.511111               1
3            0.9203    6.677778               1
4            0.9299    7.122222               1
5            0.9283    6.044444               2
6            0.9223   10.277778               1
7            0.9239    7.877778               2
8            0.9323    8.444444               1
9            0.9357    7.166667               1

In [12]:
sim_jobs

,CHINA LAKE NAVAL AIR WEAPONS STATION,CORONADO NAVAL AMPHIBIOUS BASE,EL CENTRO NAVAL AIR FACILITY,LEMOORE NAS,MONTEREY NAVAL POSTGRADUATE SCHOOL,NORTH ISLAND NAS,FLEET ANTISUBMARINE WARFARE TRAINING CENTER,POINT MUGU NAVAL AIR STATION,PORT HUENEME NAVAL CONSTRUCTION BATTALION CENTER,SAN DIEGO NAVAL MEDICAL CENTER
CHINA LAKE NAVAL AIR WEAPONS STATION,1.000000,0.351852,0.297531,-0.260494,0.191358,0.251852,-0.055556,0.077778,-0.072840,-0.251852
CORONADO NAVAL AMPHIBIOUS BASE,0.351852,1.000000,0.190123,0.039506,0.006173,0.596296,0.488889,0.351852,-0.298765,0.344444
EL CENTRO NAVAL AIR FACILITY,0.297531,0.190123,1.000000,-0.385185,-0.164198,0.060494,-0.120988,0.561728,0.220988,0.555556
LEMOORE NAS,-0.260494,0.039506,-0.385185,1.000000,-0.004938,-0.106173,0.339506,-0.133333,0.180247,-0.151852
MONTEREY NAVAL POSTGRADUATE SCHOOL,0.191358,0.006173,-0.164198,-0.004938,1.000000,0.000000,0.082716,-0.097531,-0.246914,-0.476543
NORTH ISLAND NAS,0.251852,0.596296,0.060494,-0.106173,0.000000,1.000000,-0.281481,-0.097531,-0.344444,0.240741
FLEET ANTISUBMARINE WARFARE TRAINING CENTER,-0.055556,0.488889,-0.120988,0.339506,0.082716,-0.281481,1.000000,0.512346,0.188889,0.177778
POINT MUGU NAVAL AIR STATION,0.077778,0.351852,0.561728,-0.133333,-0.097531,-0.097531,0.512346,1.000000,0.393827,0.440741
PORT HUENEME NAVAL CONSTRUCTION BATTALION CENTER,-0.072840,-0.298765,0.220988,0.180247,-0.246914,-0.344444,0.188889,0.393827,1.000000,-0.053086
SAN DIEGO NAVAL MEDICAL CENTER,-0.251852,0.344444,0.555556,-0.151852,-0.476543,0.240741,0.177778,0.440741,-0.053086,1.000000

## This is the distance between each Navy Base, in miles

In [13]:
D_df = pd.read_csv('Data/D.csv', index_col=0)

In [14]:
D_df.head()

,CHINA LAKE NAVAL AIR WEAPONS STATION,CORONADO NAVAL AMPHIBIOUS BASE,EL CENTRO NAVAL AIR FACILITY,LEMOORE NAS,MONTEREY NAVAL POSTGRADUATE SCHOOL,NORTH ISLAND NAS,FLEET ANTISUBMARINE WARFARE TRAINING CENTER,POINT MUGU NAVAL AIR STATION,PORT HUENEME NAVAL CONSTRUCTION BATTALION CENTER,SAN DIEGO NAVAL MEDICAL CENTER,...,LITTLE CREEK NAVAL AMPHIBIOUS BASE,NORFOLK NB,NORFOLK NAVAL SHIPYARD,OCEANA NAS,PORTSMOUTH NAVAL MEDICAL CENTER,YORKTOWN NAVAL WEAPONS STATION,BANGOR NAVAL SUBMARINE BASE,BREMERTON NAVAL STATION,EVERETT NAVAL STATION,WHIDBEY ISLAND NAS
Name,,,,,,,,,,,,,,,,,,,,,
CHINA LAKE NAVAL AIR WEAPONS STATION,0.000000,207.871481,227.355663,132.482416,243.728195,206.198532,203.998267,133.196821,134.944707,204.529631,...,2292.944434,2285.923278,2288.243152,2302.917324,2287.188484,2269.354304,872.707416,863.764930,883.262218,912.569383
CORONADO NAVAL AMPHIBIOUS BASE,207.871481,0.000000,87.052876,292.747525,380.740142,2.705493,4.909525,149.758113,156.317016,3.503246,...,2325.080850,2318.232794,2319.655082,2334.525992,2318.851654,2303.380718,1079.058213,1070.075770,1090.247739,1119.288589
EL CENTRO NAVAL AIR FACILITY,227.355663,87.052876,0.000000,339.132197,438.685460,89.227035,90.219188,217.174470,224.044623,86.160495,...,2240.187629,2233.359213,2234.696113,2249.578689,2233.916597,2218.681205,1094.024073,1085.182320,1102.981222,1132.959308
LEMOORE NAS,132.482416,292.747525,339.132197,0.000000,111.460357,290.354785,287.979734,154.277821,149.862111,290.117795,...,2404.319753,2397.253386,2399.876961,2414.453770,2398.738345,2380.122808,804.702077,795.620451,818.959902,846.327644
MONTEREY NAVAL POSTGRADUATE SCHOOL,243.728195,380.740142,438.685460,111.460357,0.000000,378.139177,375.833380,231.622631,225.388963,378.637335,...,2503.903466,2496.810922,2499.636733,2514.139731,2498.442488,2479.313199,769.536500,760.485998,787.173646,812.166804

### Run Optimization

In [16]:
X_df = opt(S_df, O_df, A_df, C_df, D_df)

TypeError: __init__() got an unexpected keyword argument 'boolean'