##  Import the code in this directory

In [1]:
import pandas as pd
from sim_data import sim_navy
from pref_metrics import pref_metrics

## Generate the Navy Data

In [2]:
O_df, A_df, S_df, C_df = sim_navy(n_sailors=10, n_jobs=10, couple_ratio=0.2)

## These are the preferences of the Navy Job Owners

In [3]:
O_df

,CHINA LAKE NAVAL AIR WEAPONS STATION,CORONADO NAVAL AMPHIBIOUS BASE,EL CENTRO NAVAL AIR FACILITY,LEMOORE NAS,MONTEREY NAVAL POSTGRADUATE SCHOOL,NORTH ISLAND NAS,FLEET ANTISUBMARINE WARFARE TRAINING CENTER,POINT MUGU NAVAL AIR STATION,PORT HUENEME NAVAL CONSTRUCTION BATTALION CENTER,SAN DIEGO NAVAL MEDICAL CENTER
1,5,3,1,3,2,3,10,7,7,9
2,7,9,8,7,8,5,5,10,1,4
3,10,10,4,6,4,9,3,4,9,6
4,8,2,5,10,5,4,8,8,5,5
5,3,6,2,9,3,8,1,3,4,7
6,4,8,10,1,9,10,6,5,2,1
7,2,1,6,5,10,6,7,2,10,2
8,6,5,3,4,7,7,9,9,3,10
9,9,7,7,2,6,2,4,1,8,8
10,1,4,9,8,1,1,2,6,6,3

## These are the preference of the Sailors

In [4]:
S_df

,1,2,3,4,5,6,7,8,9,10
CHINA LAKE NAVAL AIR WEAPONS STATION,10,8,8,2,8,9,9,9,10,6
CORONADO NAVAL AMPHIBIOUS BASE,3,3,2,1,1,7,5,1,7,1
EL CENTRO NAVAL AIR FACILITY,9,6,7,5,2,3,1,10,2,9
LEMOORE NAS,5,1,5,6,10,5,2,5,1,4
MONTEREY NAVAL POSTGRADUATE SCHOOL,8,5,1,3,6,10,3,3,3,8
NORTH ISLAND NAS,2,4,6,8,4,2,8,2,5,10
FLEET ANTISUBMARINE WARFARE TRAINING CENTER,7,10,4,9,5,1,10,6,8,2
POINT MUGU NAVAL AIR STATION,1,7,9,10,3,8,6,4,9,5
PORT HUENEME NAVAL CONSTRUCTION BATTALION CENTER,6,2,10,4,9,4,7,8,6,3
SAN DIEGO NAVAL MEDICAL CENTER,4,9,3,7,7,6,4,7,4,7

## These are the number of positions available at each Navy Job

In [5]:
A_df

                                                  Num_Positions
Job
CHINA LAKE NAVAL AIR WEAPONS STATION                          1
CORONADO NAVAL AMPHIBIOUS BASE                                1
EL CENTRO NAVAL AIR FACILITY                                  1
LEMOORE NAS                                                   1
MONTEREY NAVAL POSTGRADUATE SCHOOL                            1
NORTH ISLAND NAS                                              1
FLEET ANTISUBMARINE WARFARE TRAINING CENTER                   1
POINT MUGU NAVAL AIR STATION                                  1
PORT HUENEME NAVAL CONSTRUCTION BATTALION CENTER              1
SAN DIEGO NAVAL MEDICAL CENTER                                1

## This is the table regarding the couple status of sailors

In [6]:
C_df

           Partner  Partner_id Seeker
Seeker_id
1                0           0      1
2                0           0      2
3                0           0      3
4                0           0      4
5                0           0      5
6                0           0      6
7               10          10      7
8                0           0      8
9                0           0      9
10               7           7     10

## From the sailors preferences we can infer metrics about the jobs and the similarities of the sailors

In [7]:
metrics_jobs, sim_sailors = pref_metrics(S_df)

In [8]:
metrics_jobs

,Competitiveness,Generalism,Specialization
CHINA LAKE NAVAL AIR WEAPONS STATION,8.728180,14.933333,1
CORONADO NAVAL AMPHIBIOUS BASE,16.182117,9.877778,1
EL CENTRO NAVAL AIR FACILITY,9.917355,10.622222,1
FLEET ANTISUBMARINE WARFARE TRAINING CENTER,26.190476,5.600000,3
LEMOORE NAS,51.948052,2.177778,3
MONTEREY NAVAL POSTGRADUATE SCHOOL,11.832061,11.955556,2
NORTH ISLAND NAS,16.113744,7.655556,1
POINT MUGU NAVAL AIR STATION,17.977528,8.711111,2
PORT HUENEME NAVAL CONSTRUCTION BATTALION CENTER,20.170940,6.988889,2
SAN DIEGO NAVAL MEDICAL CENTER,12.478921,5.122222,1

In [10]:
sim_sailors

,1,2,3,4,5,6,7,8,9,10
1,1.000000,0.228395,-0.149383,-0.025926,-0.196296,0.001235,-0.597531,-0.520988,0.429630,-0.075309
2,0.228395,1.000000,0.066667,-0.072840,-0.181481,-0.035802,0.190123,-0.037037,-0.028395,-0.100000
3,-0.149383,0.066667,1.000000,0.077778,-0.037037,0.590123,0.125926,-0.144444,-0.165432,0.218519
4,-0.025926,-0.072840,0.077778,1.000000,0.292593,-0.250617,-0.053086,-0.204938,0.648148,-0.127160
5,-0.196296,-0.181481,-0.037037,0.292593,1.000000,0.496296,0.167901,0.403704,0.096296,0.592593
6,0.001235,-0.035802,0.590123,-0.250617,0.496296,1.000000,-0.100000,0.040741,-0.096296,0.685185
7,-0.597531,0.190123,0.125926,-0.053086,0.167901,-0.100000,1.000000,0.862963,-0.497531,0.235802
8,-0.520988,-0.037037,-0.144444,-0.204938,0.403704,0.040741,0.862963,1.000000,-0.430864,0.488889
9,0.429630,-0.028395,-0.165432,0.648148,0.096296,-0.096296,-0.497531,-0.430864,1.000000,0.096296
10,-0.075309,-0.100000,0.218519,-0.127160,0.592593,0.685185,0.235802,0.488889,0.096296,1.000000

## From the Navy job owners preferences we can infer metrics about the sailors and the similarities of the jobs

In [11]:
metrics_sailors, sim_jobs = pref_metrics(O_df)

In [12]:
metrics_sailors

    Competitiveness  Generalism  Specialization
1         10.573678    8.677778               1
10        23.416507    6.988889               1
2         90.707965    4.177778               3
3          8.249721    7.566667               1
4         16.357083    8.544444               1
5         14.980289    8.900000               1
6         31.578947    5.333333               2
7         15.389653    7.566667               1
8          6.557377    9.333333               1
9         15.000000    7.777778               2

In [13]:
sim_jobs

,CHINA LAKE NAVAL AIR WEAPONS STATION,CORONADO NAVAL AMPHIBIOUS BASE,EL CENTRO NAVAL AIR FACILITY,LEMOORE NAS,MONTEREY NAVAL POSTGRADUATE SCHOOL,NORTH ISLAND NAS,FLEET ANTISUBMARINE WARFARE TRAINING CENTER,POINT MUGU NAVAL AIR STATION,PORT HUENEME NAVAL CONSTRUCTION BATTALION CENTER,SAN DIEGO NAVAL MEDICAL CENTER
CHINA LAKE NAVAL AIR WEAPONS STATION,1.000000,0.740741,0.445679,-0.012346,-0.017284,0.393827,-0.522222,0.787654,0.243210,0.640741
CORONADO NAVAL AMPHIBIOUS BASE,0.740741,1.000000,0.644444,0.093827,0.304938,0.219753,-0.243210,0.551852,-0.151852,0.545679
EL CENTRO NAVAL AIR FACILITY,0.445679,0.644444,1.000000,0.225926,0.737037,0.345679,-0.306173,0.590123,0.083951,0.286420
LEMOORE NAS,-0.012346,0.093827,0.225926,1.000000,0.396296,0.304938,0.249383,0.155556,-0.120988,-0.282716
MONTEREY NAVAL POSTGRADUATE SCHOOL,-0.017284,0.304938,0.737037,0.396296,1.000000,0.461728,0.120988,0.106173,-0.212346,-0.032099
NORTH ISLAND NAS,0.393827,0.219753,0.345679,0.304938,0.461728,1.000000,-0.300000,0.088889,0.382716,0.033333
FLEET ANTISUBMARINE WARFARE TRAINING CENTER,-0.522222,-0.243210,-0.306173,0.249383,0.120988,-0.300000,1.000000,-0.296296,-0.317284,-0.161728
POINT MUGU NAVAL AIR STATION,0.787654,0.551852,0.590123,0.155556,0.106173,0.088889,-0.296296,1.000000,0.088889,0.511111
PORT HUENEME NAVAL CONSTRUCTION BATTALION CENTER,0.243210,-0.151852,0.083951,-0.120988,-0.212346,0.382716,-0.317284,0.088889,1.000000,-0.111111
SAN DIEGO NAVAL MEDICAL CENTER,0.640741,0.545679,0.286420,-0.282716,-0.032099,0.033333,-0.161728,0.511111,-0.111111,1.000000