##  Import the code in this directory

In [1]:
import pandas as pd
from sim_data import sim_navy
from pref_metrics import pref_metrics

## Generate the Navy Data

In [2]:
O_df, A_df, S_df, C_df = sim_navy(n_sailors=10, n_jobs=10, couple_ratio=0.2)

## These are the preferences of the Navy Job Owners

In [3]:
O_df

,CHINA LAKE NAVAL AIR WEAPONS STATION,CORONADO NAVAL AMPHIBIOUS BASE,EL CENTRO NAVAL AIR FACILITY,LEMOORE NAS,MONTEREY NAVAL POSTGRADUATE SCHOOL,NORTH ISLAND NAS,FLEET ANTISUBMARINE WARFARE TRAINING CENTER,POINT MUGU NAVAL AIR STATION,PORT HUENEME NAVAL CONSTRUCTION BATTALION CENTER,SAN DIEGO NAVAL MEDICAL CENTER
1,3,7,4,8,5,6,1,5,1,6
2,10,4,10,5,1,4,2,4,8,3
3,9,1,1,4,7,2,8,2,9,5
4,4,3,6,7,6,3,9,3,3,8
5,5,5,8,9,9,5,3,9,5,1
6,6,6,5,2,8,7,5,7,7,7
7,8,10,7,1,10,9,10,1,10,10
8,7,9,9,6,2,1,7,6,6,2
9,2,2,2,10,3,8,6,8,4,9
10,1,8,3,3,4,10,4,10,2,4

## These are the preference of the Sailors

In [4]:
S_df

,1,2,3,4,5,6,7,8,9,10
CHINA LAKE NAVAL AIR WEAPONS STATION,6,5,9,8,3,7,8,4,5,2
CORONADO NAVAL AMPHIBIOUS BASE,3,9,7,2,10,3,1,7,8,3
EL CENTRO NAVAL AIR FACILITY,5,10,10,4,9,9,3,3,4,7
LEMOORE NAS,4,2,1,3,4,2,9,6,1,1
MONTEREY NAVAL POSTGRADUATE SCHOOL,1,1,3,5,1,1,10,5,3,5
NORTH ISLAND NAS,2,4,5,1,8,4,7,1,10,9
FLEET ANTISUBMARINE WARFARE TRAINING CENTER,8,8,2,9,5,10,2,8,2,10
POINT MUGU NAVAL AIR STATION,7,6,4,7,2,6,4,10,7,4
PORT HUENEME NAVAL CONSTRUCTION BATTALION CENTER,10,3,6,10,6,5,5,9,6,8
SAN DIEGO NAVAL MEDICAL CENTER,9,7,8,6,7,8,6,2,9,6

## These are the number of positions available at each Navy Job

In [5]:
A_df

                                                  Num_Positions
Job
CHINA LAKE NAVAL AIR WEAPONS STATION                          1
CORONADO NAVAL AMPHIBIOUS BASE                                1
EL CENTRO NAVAL AIR FACILITY                                  1
LEMOORE NAS                                                   1
MONTEREY NAVAL POSTGRADUATE SCHOOL                            1
NORTH ISLAND NAS                                              1
FLEET ANTISUBMARINE WARFARE TRAINING CENTER                   1
POINT MUGU NAVAL AIR STATION                                  1
PORT HUENEME NAVAL CONSTRUCTION BATTALION CENTER              1
SAN DIEGO NAVAL MEDICAL CENTER                                1

## This is the table regarding the couple status of sailors

In [6]:
C_df

           Partner  Partner_id Seeker
Seeker_id
1                0           0      1
2                0           0      2
3                4           4      3
4                3           3      4
5                0           0      5
6                0           0      6
7                0           0      7
8                0           0      8
9                0           0      9
10               0           0     10

## From the sailors preferences we can infer metrics about the jobs and the similarities of the sailors

In [7]:
metrics_jobs, sim_sailors = pref_metrics(S_df)

In [8]:
metrics_jobs

,Competitiveness,Generalism,Specialization
CHINA LAKE NAVAL AIR WEAPONS STATION,0.9261,5.344444,2
CORONADO NAVAL AMPHIBIOUS BASE,0.9308,10.455556,1
EL CENTRO NAVAL AIR FACILITY,0.9220,8.488889,3
FLEET ANTISUBMARINE WARFARE TRAINING CENTER,0.9232,11.155556,2
LEMOORE NAS,0.9462,6.677778,1
MONTEREY NAVAL POSTGRADUATE SCHOOL,0.9452,8.277778,1
NORTH ISLAND NAS,0.9327,10.766667,1
POINT MUGU NAVAL AIR STATION,0.9260,5.122222,2
PORT HUENEME NAVAL CONSTRUCTION BATTALION CENTER,0.9187,5.511111,3
SAN DIEGO NAVAL MEDICAL CENTER,0.9187,4.177778,2

In [9]:
sim_sailors

,1,2,3,4,5,6,7,8,9,10
1,1.000000,0.444444,0.287654,0.782716,0.187654,0.779012,-0.188889,0.383951,0.148148,0.280247
2,0.444444,1.000000,0.562963,0.102469,0.637037,0.764198,-0.698765,0.044444,0.383951,0.303704
3,0.287654,0.562963,1.000000,0.111111,0.533333,0.487654,-0.127160,-0.293827,0.675309,0.177778
4,0.782716,0.102469,0.111111,1.000000,-0.314815,0.551852,0.060494,0.544444,-0.119753,0.228395
5,0.187654,0.637037,0.533333,-0.314815,1.000000,0.371605,-0.444444,-0.250617,0.477778,0.414815
6,0.779012,0.764198,0.487654,0.551852,0.371605,1.000000,-0.348148,0.007407,0.222222,0.485185
7,-0.188889,-0.698765,-0.127160,0.060494,-0.444444,-0.348148,1.000000,-0.250617,-0.086420,-0.197531
8,0.383951,0.044444,-0.293827,0.544444,-0.250617,0.007407,-0.250617,1.000000,-0.237037,-0.086420
9,0.148148,0.383951,0.675309,-0.119753,0.477778,0.222222,-0.086420,-0.237037,1.000000,0.300000
10,0.280247,0.303704,0.177778,0.228395,0.414815,0.485185,-0.197531,-0.086420,0.300000,1.000000

## From the Navy job owners preferences we can infer metrics about the sailors and the similarities of the jobs

In [10]:
metrics_sailors, sim_jobs = pref_metrics(O_df)

In [11]:
metrics_sailors

    Competitiveness  Generalism  Specialization
1            0.9349    5.600000               1
10           0.9335   10.544444               1
2            0.9319   10.100000               1
3            0.9351   10.622222               1
4            0.9295    5.288889               3
5            0.9257    7.655556               1
6            0.9235    2.888889               2
7            0.9169   13.155556               1
8            0.9289    8.277778               1
9            0.9297   10.044444               2

In [12]:
sim_jobs

,CHINA LAKE NAVAL AIR WEAPONS STATION,CORONADO NAVAL AMPHIBIOUS BASE,EL CENTRO NAVAL AIR FACILITY,LEMOORE NAS,MONTEREY NAVAL POSTGRADUATE SCHOOL,NORTH ISLAND NAS,FLEET ANTISUBMARINE WARFARE TRAINING CENTER,POINT MUGU NAVAL AIR STATION,PORT HUENEME NAVAL CONSTRUCTION BATTALION CENTER,SAN DIEGO NAVAL MEDICAL CENTER
CHINA LAKE NAVAL AIR WEAPONS STATION,1.000000,0.017284,0.475309,-0.244444,0.144444,-0.419753,0.292593,-0.516049,0.888889,-0.083951
CORONADO NAVAL AMPHIBIOUS BASE,0.017284,1.000000,0.555556,-0.302469,0.134568,0.358025,-0.054321,0.201235,-0.029630,-0.055556
EL CENTRO NAVAL AIR FACILITY,0.475309,0.555556,1.000000,0.071605,-0.070370,-0.127160,-0.051852,0.038272,0.308642,-0.311111
LEMOORE NAS,-0.244444,-0.302469,0.071605,1.000000,-0.241975,-0.196296,-0.245679,0.434568,-0.400000,-0.196296
MONTEREY NAVAL POSTGRADUATE SCHOOL,0.144444,0.134568,-0.070370,-0.241975,1.000000,0.334568,0.372840,-0.158025,0.234568,0.344444
NORTH ISLAND NAS,-0.419753,0.358025,-0.127160,-0.196296,0.334568,1.000000,-0.100000,0.339506,-0.148148,0.496296
FLEET ANTISUBMARINE WARFARE TRAINING CENTER,0.292593,-0.054321,-0.051852,-0.245679,0.372840,-0.100000,1.000000,-0.372840,0.485185,0.492593
POINT MUGU NAVAL AIR STATION,-0.516049,0.201235,0.038272,0.434568,-0.158025,0.339506,-0.372840,1.000000,-0.393827,-0.323457
PORT HUENEME NAVAL CONSTRUCTION BATTALION CENTER,0.888889,-0.029630,0.308642,-0.400000,0.234568,-0.148148,0.485185,-0.393827,1.000000,0.062963
SAN DIEGO NAVAL MEDICAL CENTER,-0.083951,-0.055556,-0.311111,-0.196296,0.344444,0.496296,0.492593,-0.323457,0.062963,1.000000

## This is the distance between each Navy Base, in miles

In [13]:
D_df = pd.read_csv('Data/D.csv', index_col=0)

In [14]:
D_df.head()

,CHINA LAKE NAVAL AIR WEAPONS STATION,CORONADO NAVAL AMPHIBIOUS BASE,EL CENTRO NAVAL AIR FACILITY,LEMOORE NAS,MONTEREY NAVAL POSTGRADUATE SCHOOL,NORTH ISLAND NAS,FLEET ANTISUBMARINE WARFARE TRAINING CENTER,POINT MUGU NAVAL AIR STATION,PORT HUENEME NAVAL CONSTRUCTION BATTALION CENTER,SAN DIEGO NAVAL MEDICAL CENTER,...,LITTLE CREEK NAVAL AMPHIBIOUS BASE,NORFOLK NB,NORFOLK NAVAL SHIPYARD,OCEANA NAS,PORTSMOUTH NAVAL MEDICAL CENTER,YORKTOWN NAVAL WEAPONS STATION,BANGOR NAVAL SUBMARINE BASE,BREMERTON NAVAL STATION,EVERETT NAVAL STATION,WHIDBEY ISLAND NAS
Name,,,,,,,,,,,,,,,,,,,,,
CHINA LAKE NAVAL AIR WEAPONS STATION,0.000000,207.871481,227.355663,132.482416,243.728195,206.198532,203.998267,133.196821,134.944707,204.529631,...,2292.944434,2285.923278,2288.243152,2302.917324,2287.188484,2269.354304,872.707416,863.764930,883.262218,912.569383
CORONADO NAVAL AMPHIBIOUS BASE,207.871481,0.000000,87.052876,292.747525,380.740142,2.705493,4.909525,149.758113,156.317016,3.503246,...,2325.080850,2318.232794,2319.655082,2334.525992,2318.851654,2303.380718,1079.058213,1070.075770,1090.247739,1119.288589
EL CENTRO NAVAL AIR FACILITY,227.355663,87.052876,0.000000,339.132197,438.685460,89.227035,90.219188,217.174470,224.044623,86.160495,...,2240.187629,2233.359213,2234.696113,2249.578689,2233.916597,2218.681205,1094.024073,1085.182320,1102.981222,1132.959308
LEMOORE NAS,132.482416,292.747525,339.132197,0.000000,111.460357,290.354785,287.979734,154.277821,149.862111,290.117795,...,2404.319753,2397.253386,2399.876961,2414.453770,2398.738345,2380.122808,804.702077,795.620451,818.959902,846.327644
MONTEREY NAVAL POSTGRADUATE SCHOOL,243.728195,380.740142,438.685460,111.460357,0.000000,378.139177,375.833380,231.622631,225.388963,378.637335,...,2503.903466,2496.810922,2499.636733,2514.139731,2498.442488,2479.313199,769.536500,760.485998,787.173646,812.166804